<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>

<!-- app/views/reviews/new.html.erb -->
<h1>New list</h1>
<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
